/* RESPONSIVE */
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Audiowide&family=Kanit:wght@300;400&family=Pacifico&family=Poppins:wght@300&family=Proza+Libre&family=Roboto:wght@100&family=Stick+No+Bills:wght@500;600&family=Young+Serif&display=swap');
body {

    font-family: 'Poppins', sans-serif;
 
  }
section {
    max-width: 500px;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 55%;
}

.home {
    padding: 0 3% 23rem;
    justify-content: center;
    text-align: center;
}

.content h1 {
    font-size: 4.9rem;
}

.content h3 {
    font-size: 5rem;
}

.content .social-icon a {
    margin: 2.5rem .75rem 3rem;
}
.home .circle {
    width: 222px;
    height: 253px;
}
.home .passion-container .passion-box {
    width: 450px;
    height: 450px;
}
.home .passion-container .passion-box{
    left: 12px;
}
.home .overlay {
    position: fixed;
    top: 59rem;
    left: 74%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 69%) scaleY(-2);
    border-width: 23rem;
}
.home .passion-box .passion{
    padding: 13px 13px;
}
.home .passion-box .passion:nth-child(1) {
    transform: rotate(-90deg) translate(280px,-301px);
}
    .home .passion-box .passion:nth-child(1) i{
        margin-right: 0;

    }
    .home .passion-box .passion:nth-child(2) {
        transform: rotate(0deg) translate(148px,-160px);
    }
    .home .passion-box .passion:nth-child(3) {
        transform: rotate(90deg) translate(315px,-14px);
    }
    .home .passion-box .passion:nth-child(4) {
        transform: rotate(180deg) translate(432px,-152px);
    }
.home .content {
        height: 40.8rem;
    }
.passion-container{
    /* border: 2px solid red; */
    margin-top: 115px;
    max-width: 416px;
    overflow: hidden;
    padding-left: 20px;
}
.passion-box{
    max-width: 486px;
    max-height: 486px;
    /* border: 2px solid yellow; */
    margin-top: 270px;
    /* margin-left: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.passion-box .circle {
    width: 336px;
    height: 336px;
    margin: 0px;
}
.home .passion-container .passion-box{
    top: 40px;
}
#menu {
    display: block;
}

#darkmode {
    position: absolute;
    right: 7rem;
    font-size: 2.6rem;
    color: var(--text-color);
    margin-bottom: .1rem;
}
.header.sticky{
    height: 62px;
}
.navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, 0.2);
    display: none;
    box-shadow: 0 .5rem 1rem;
}
.active{
    display: block;

}
.navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem;
    color: var(--text-color);
}

.navbar a:nth-child(1),
.navbar a:nth-child(2) {
    color: var(--text-color);
}

.navbar a.active {
    color: var(--main-color);
}

.navbar a::before {
    display: none;
}


header {
    width: 100%;
}

.logo {
    font-size: 17.5px;
    margin-top: -5px;
}
.logo span{
    color: var(--main-color);
    font-size: 26.5px;
}
.content {
    margin-left: 0px;
}
section {
    padding: 6rem 5%;
}

.content h3 {
    font-size: 2.6rem;
}

.content h1 {
    font-size: 3.1rem;
}

.content p {
    font-size: 1.2rem;
      font-family: 'Poppins', sans-serif;
}

.content .social-icon a {
    width: 3.8rem;
    height: 3.8rem;
    font-size: 1.8rem;
    margin: 1rem 0.5rem 2rem 0;
}
.bottom{
    left: 143px;
}
.parent h5 {
    position: absolute;
    top: 0px;
    color: var(--white-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    left: 87px;
    top: 21px;
}

.btn {
    width: 237px;
    height: 55px;
    /* width: 290px; */
}

.passion-box .passion{
    display: none;
}
.parent h5{
    left: 93px;
}
.passion h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    
}
/* Large screens (desktops) */

/* #################################About section######################## */

#about h1{
    margin-top: 77px;
}
.mainabout {
    /* border: 2px solid red; */
    /* margin-top: -20px; */
    flex-wrap: wrap;
    padding: -1px;
}
.mainabout .aboutphoto{
    margin-top: 36px;
}
.mainabout .abouttext{
    padding: 0px;
}
.mainabout .aboutphoto {

    height: 310px;
    width: 310px;
}
.firsttext{
   font-family: 'Poppins', sans-serif;
}
.secondtext {
    /* border: 2px solid palevioletred; */
    margin: 18px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    /* display: inline-block; */
    font-family: 'Audiowide', cursive;
    width: 100%;
}
.aboutpara {
    width: 309px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: left;
  
}
.glowingcircle .aboutimage {

    width: 286px;
    height: 287px;
   
}
.aboutimage img {
    max-width: 286px;

}
.aboutpara p {
  font-family: 'Poppins', sans-serif;
    font-size: 14px;
    padding: 0px;
}
.aboutpara{
    width: 100%;
}
.abouttext .parent {
    left: 18%;
    top: 30px;
}
.abouttext .parent h5 {
    left: 41px;
}

.abouttext .btn {
    width: 206px;
    height: 55px;
    /* width: 290px; */
}
.education-section{
    margin-top: -177px;
}
.education-section h1 {
    /* border: 2px solid red; */
    position: relative;
    top: -26px;
    left: 19%;
}
.experience .content ul li .experience-content p{
  font-weight:500
}
#about h1{
    font-size: 43px;
}
.experience {
    /* border: 2px solid red; */
    width: 473px;
}
.experience .content ul li .experience-content{
    width: 335px;
}
.experience .content {
    text-align: center;
    left: 44px;
}
.experience .content ul li .experience-content{
    width: 291px;
}
.mainskill-container{
    height: 173vh;
}
.mainphoto h1{
    font-size: 34px;
    font-family: 'Poppins', sans-serif;
}
.container{
    flex-wrap: wrap;
    width: 91vw;
}
/*################### skill section############# */
#skill {
    position: relative;
    margin-top: -141px;
}
.mainskill-container {
    height: 196vh;
}
.mainskill-container{
    width: 100%;
}
.panel.active h3{
   font-family: 'Poppins', sans-serif;
}
/*############################3 project section #################################### */

.book{
    width: 304px;
    height: 202px;
}
.mywork-box .mywork-layer{
    height: 60% ;
    /* width: 60%; */
}
.link{
    justify-content: space-evenly;
}

.mywork-box .mywork-layer h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}



/* ##############################################contact section####################################### */
.form-group .btn{
    margin-left:8% ;
}
.form-group h3{
    margin-left: 12%;
  font-family: 'Poppins', sans-serif;
}

#contact .form-group{
    width: 328px;
}
.form-group .form-row .text{
    font-size: 14px;
}
.address{
    width: 325px;
}
.addressmain{
    flex-wrap: wrap;
}
.addressmain .addressicon{
    width: 386px;
}
 .addressicon .social-icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 21px;
    width: 100%;
}
.addressmain .bx {
    font-size: 38px;
}
.addressboxicon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5rem;
    height: 7.5rem;
}
.addressmain h3 {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.address h2{
  font-family: 'Poppins', sans-serif;
}
.addressboxicon a{
    width: 5.5rem;
    height: 5.5rem;
    box-shadow: 0.8rem 0.8rem 6.5rem var(--shadow-color), 0.8rem -0.2rem 0.5rem var(--shadow-color);
}
.addressmain .bx {
    font-size: 29px;
}
.form-group .form-row .inputbox input, .form-row .col .textarea textarea {
    font-size: 12px;
}
footer .foottext {
    font-size: 15px;
        font-family: 'Abril Fatface', serif;
font-family: 'Audiowide', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Proza Libre', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Stick No Bills', sans-serif;
font-family: 'Young Serif', serif;
}
.foottext i{
    font-size: 17px;
}
footer .uparrow i {
    font-size: 22px;
}
/* this is not footer section */
  .bottom{
      left: 87px;
  }
.content .bottom{
    left:144px;
}
/* ###################### loader css ############################### */
.loader {
    left: 38%;
    top: 41%;
}
  footer .foottext{
    font-size: 10px;
  }
